footer {
    font-family: 'Inter', sans-serif;
    overflow: hidden !important;
    overflow-y: hidden !important;
    width: 100vw;
    animation-delay: 0s;

    a {
        transition: color 0.2s ease-in-out;
    }

    input::placeholder {
        // color: #aaa;
        color: #9ca3af; // Tailwind gray-400
    }

}

@media (max-width:480px) {
    button {
        width: 50%;
        margin-inline: 25%;
        margin-top: 5%;
    }

    .small-screen {
        text-align: center;
    }
}

@media (max-width:768px) {
    button {
        width: 50%;
        margin-inline: 25%;
        margin-top: 5%;
    }

    .small-screen {
        text-align: center;
    }
}